.manage-doctor-container {
    .select-texarea {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 20px;

        .select-doctor {
            width: 30%;

            .title-choose-doctor {
                font-size: large;
                font-weight: lighter;
            }
        }

        .textarea {
            width: 50%;

            .intro-doctor {
                font-size: large;
                font-weight: lighter;
            }

            .textarea-doctor {
                width: 100%;
            }
        }

    }

    .select-info {
        display: flex;
        justify-content: space-between;
        margin: 20px 70px;

        .price {
            width: 30%;
        }

        .payment {
            width: 30%;
        }

        .province {
            width: 30%;
        }

    }

    .add-info {
        display: flex;
        justify-content: space-between;
        margin: 0px 70px;

        .name-clinic {
            width: 30%;
        }

        .address-clinic {
            width: 30%;
        }

        .note {
            width: 30%;
        }

    }
}