.preview-avt-container {
    display: flex;

    .upload-avt {
        color: aliceblue;
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0071ba;
        margin-right: 10%;
        width: 30%;
        height: 35px;
        cursor: pointer;
    }

    .preview-avt {
        width: 60%;
        height: 100px;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}