.schedule-container {
    .container {
        .time-container {
            margin: 20px;

            .btn-time {
                margin: 10px;
                border: none;
            }

        }
    }
}