.logo {
    width: 150px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}

.cofirm-title {
    font-weight: bold;
}

.icon2 {
    text-align: center;
    font-size: 150px;
    color: #ffc419;
}

.icon3 {
    text-align: center;
    font-size: 150px;
    color: red;
}

.icon5 {
    text-align: center;
    font-size: 150px;
    color: #1cba63;
}

.note5 {
    font-weight: bold;
}