.login-background {
    height: 100vh;
    display: flex;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    justify-content: center;
    align-items: center;

    .login-container {
        border-radius: 20px;
        padding: 30px;
        background-color: aliceblue;
        width: 450px;
        height: 480px;

        .text-login {
            font-weight: 600;
            font-size: 24px;
            padding: 10px;
        }

        .text-username {
            margin: 10px 0px 5px 20px;
            font-size: 18px;
            color: gray;
        }

        .text-password {
            margin: 10px 0px 5px 20px;
            font-size: 18px;
            color: gray;
        }

        .login-input {
            padding: 10px;
            border-radius: 25px;

        }

        .inputpassword {
            position: relative;

        }

        .eye {
            width: 30px;
            height: 30px;
            font-size: 20px;
            position: absolute;
            top: 12px;
            right: 20px;
            cursor: pointer;
            order: 2;
        }

        .errMessage {
            color: red;
        }

        .forgot-password {
            margin-left: 10px;
            margin-top: 15px;
        }

        .btn-login {
            color: aliceblue;
            font-size: 22px;
            font-weight: 600;
            background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            width: 100%;
            height: 40px;
            border: none;
            margin-top: 20px;

            border-radius: 25px;
        }

        .text-otherlogin {
            margin-top: 20px;
            font-size: 18px;
        }

        .google-icon {
            color: red;
            font-size: 40px;
            margin-right: 30px;
        }

        .facebook-icon {
            color: blue;
            font-size: 40px;
        }
    }
}