.section {
    height: 330px;
    padding: 20px 115px 30px 115px;
    box-sizing: border-box;

    .section-header {
        margin-bottom: 20px;
        position: relative;

        .section-title {
            font-size: 24px;
            font-weight: bold;
            padding: 15px 0px 5px 0px;
        }

        .show-more {
            position: absolute;
            top: 0;
            right: 0;
            background: #ebebeb;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 15px;
            color: #282e41;
        }

        .show-more:hover {
            background: #f7d800;
            color: #ebebeb;
        }
    }

    .section-content {
        height: 200px;

        .slick-prev {
            border: 2px solid #d7d7d7;
            left: -20px !important;
            z-index: 10;
            height: 45px;
            width: 45px;
            background: rgba($color: #ffffff, $alpha: 0.6);

            &:hover {
                background: #fff;
            }
        }

        .slick-prev::before {
            font-family: FontAwesome !important;
            color: #959595 !important;
            font-size: 25px !important;
            font-weight: bold;
            opacity: 1;
        }

        .slick-next {
            border: 2px solid #d7d7d7;
            right: -10px !important;
            height: 45px;
            width: 45px;
            background: #fff;
            background: rgba($color: #ffffff, $alpha: 0.6);

            &:hover {
                background: #fff;
            }
        }

        .slick-next::before {
            font-family: 'Glyphicons Halflings' !important;
            color: #959595 !important;
            font-size: 25px !important;
            font-weight: bold;
            opacity: 1;
        }

        .div-section {
            width: 280px;
            height: 190px;

            .img-cus {
                padding-right: 10px;
                width: 100%;
                height: 160px;
            }

            .img-title {
                color: #111;
                padding: 5px 0;
                font-size: 15px;
            }

            &:hover {
                .img-title {
                    color: #45c3d2;
                }

            }
        }
    }
}