.errlogin {
    text-align: center;

    .icon-errlogin {

        color: red;
        font-size: 150px;
    }

    .icon-suscess {
        color: #1cba63;
        font-size: 150px;
    }

    .icon-notfound {
        color: #ffc419;
        font-size: 150px;
    }

    .err-title {
        font-weight: bold;
    }
}