.home-header-container {
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 80px;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .menu-logo {
                display: flex;

                .menu {
                    font-size: 25px;
                    margin-bottom: 10px;
                    margin-left: 90px;
                }

                .logo {
                    margin-left: 10px;
                    width: 160px;
                    height: 40px;
                }
            }
        }

        .center-content {
            width: 50%;
            display: flex;

            display: flex;
            justify-content: center;
            align-items: center;

            .child-content {
                margin: 10px;

                .title-child {
                    color: #333;
                    font-weight: bold;
                    font-size: 13px;
                }

                .description-child {
                    font-weight: lighter;
                    font-size: 11px;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-help {
                font-size: 15px;
                color: #45c3d2;
            }

            .help {
                color: #969495;
                font-weight: bold;
                font-size: 15px;
            }

            .language {
                display: flex;
                margin-left: 20px;
                font-size: 16px;

                .lang-vi {
                    margin-right: 10px;
                    cursor: pointer;
                    opacity: 0.5;

                    &.action {
                        span {
                            color: #f7d800;
                            opacity: 1;

                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .lang-en {
                    cursor: pointer;
                    opacity: 0.5;

                    &.action {
                        span {
                            color: #f7d800;
                            opacity: 1;
                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.home-banner-container {
    background: url('../../assets/banner.jpg');
    height: 485px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -40px;
    position: relative;
    margin-bottom: 30px;

    .mask-black {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 485px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        order: 1;
    }

    .mask-white {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 150px;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        order: 2;
    }

    .in-mark {
        position: absolute;
        order: 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        .title1 {
            margin-top: 50px;
            color: #fff;
            font-size: 32px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #333;
        }

        .title2 {
            color: #fff;
            font-weight: bold;
            font-size: 32px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #333;
        }

        .search {
            margin-top: 30px;
            height: 50px;
            width: 455px;
            background-color: #f7d800;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-search {
                font-size: 15px;
                margin-right: 10px;
            }

            .input-search {
                border: none;
                outline: none;
                height: 30px;
                width: 370px;
                background-color: #f7d800;
            }
        }

        .download-app {
            margin-top: 80px;

            .img-down {
                width: 108px;
                height: 32px;
            }
        }

        .list-option {
            display: flex;
            width: 90%;
            height: 110px;
            margin-top: 60px;

            .option-child {
                width: 130px;
                display: flex;
                align-items: center;
                flex-direction: column;


                .option-icon {
                    background: #fff;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-size: 32px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .option-title {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                }



                .khamchuyenkhoa {
                    background-image: url(../../assets/khamchuyenkhoa.png);
                }

                .khamtuxa {
                    background-image: url(../../assets/khamtuxa.png);
                }

                .khamtongquat {
                    background-image: url(../../assets/khamtongquat.png);
                }

                .dichvuxetnghiem {
                    background-image: url(../../assets/dichvuxetnghiem.png);
                }

                .suckhoetinhthan {
                    background-image: url(../../assets/suckhoetinhthan.png);
                }

                .khamnhakhoa {
                    background-image: url(../../assets/khamnhakhoa.png);
                }

                .goiphauthuat {
                    background-image: url(../../assets/goiphauthuat.jpg);
                }

                .sanphamyte {
                    background-image: url(../../assets/sanphamyte.png);
                }

                .suskhoedoanhnghiep {
                    background-image: url(../../assets/suskhoedoanhnghiep.jpg);
                }
            }

            .option-child:hover {
                color: #45c3d2;
            }
        }
    }
}